#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    /* ============================================================
     * 1. macros（最優先で定義：Remap で認識される）
     * ============================================================ */

    macros {
        compatible = "zmk,macros";

        xlookup_macro: macro {
            label = "XLOOKUP_MACRO";
            bindings = <
                &kp EQUAL
                &kp X
                &kp L
                &kp O
                &kp O
                &kp K
                &kp U
                &kp P
                &kp LS(N9)   /* "(" */
            >;
        };

        IF: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp LS(I) &kp LS(F) &kp LPAR>;
            label = "NEW_MACRO";
        };

        address: address {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp H &kp O &kp T &kp A &kp DOT &kp K &kp U &kp R &kp O &kp D &kp A &kp AT &kp P &kp R &kp O &kp S &kp U &kp S &kp DOT &kp C &kp O &kp DOT &kp J &kp P>;
            label = "ADDRESS";
        };

        tax: tax {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp LS(G) &kp N6 &kp STAR &kp LPAR &kp N1 &kp PLUS &kp LS(K) &kp N6 &kp RPAR>;
            label = "TAX";
        };

        yyyymmdd: yyyymmdd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp Y &kp Y &kp Y &kp FSLH &kp M &kp M &kp FSLH &kp D &kp D>;
            label = "YYYYMMDD";
        };

        XLUP: XLUP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp EQUAL &kp LS(X) &kp LS(L) &kp LS(O) &kp LS(O) &kp LS(K) &kp LS(U) &kp LS(P) &kp LPAR>;
            label = "XLUP";
        };
    };

    /* ============================================================
     * 2. behaviors（macros の後に置く必須）
     * ============================================================ */

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    /* ============================================================
     * 3. combos（behaviors の後ならどこでもOK）
     * ============================================================ */

    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        lang {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };
    };

    /* ============================================================
     * 4. keymap（最後でOK）
     * ============================================================ */

    keymap {
        compatible = "zmk,keymap";

        /* --------------------------
         * LAYER 0
         * -------------------------- */

        default_layer {
            bindings = <
&kp G  &kp Z     &kp D         &kp B      &kp P                                      &kp K        &kp N  &kp Y  &kp Q       &kp X
&kp A  &kp I     &kp U         &kp E      &kp O        &none          &kp ESCAPE     &kp S        &kp H  &kp R  &kp F2      &kp F10
&kp C  &kp F     &kp J         &kp L      &kp MINUS    &kp TAB        &tog 1         &kp T        &kp M  &kp W  &kp DELETE  &mkp MB4
&kp V  &kp CAPS  &kp LEFT_ALT  &kp LSHFT  &lt 1 SPACE  &kp LCTRL      &kp BACKSPACE  &lt 2 ENTER                            &kp KP_NUMLOCK
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        number {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH                                     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp MINUS  &kp SLASH
&kp BACKSLASH    &kp MINUS          &kp EQUAL             &kp AT_SIGN            &kp COMMA     &none            &kp BACKSPACE  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS   &kp ASTERISK
&none            &kp SQT            &kp AMPERSAND         &kp COLON              &kp QUESTION  &kp PERCENT      &tog 0         &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp HASH   &kp COMMA
&trans           &trans             &trans                &trans                 &trans        &trans           &kp KP_DOT     &kp KP_NUMBER_0                                               &kp KP_ENTER
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        ShortCut {
            bindings = <
&kp LG(L)        &kp LEFT_GUI  &kp F4         &kp F5  &kp F8                           &kp LC(X)  &kp LC(F)  &kp LC(NUMBER_1)  &kp LC(PLUS)   &kp LC(UP)
&kp LA(LC(DEL))  &kp LG(D)     &kp LG(LS(C))  &none   &address  &none       &XLUP      &kp LC(C)  &kp LC(T)  &IF               &kp LS(LC(Q))  &kp LC(DOWN)
&none            &yyyymmdd     &tax           &none   &none     &none       &kp LC(Z)  &kp LC(V)  &none      &none             &none          &none
&none            &trans        &trans         &trans  &trans    &trans      &trans     &trans                                                 &bt BT_CLR
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &mkp MB1  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans    &trans    &mkp MB4
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        /* --------------------------
         * LAYER 5 (SCROLL)
         * -------------------------- */
        /* layer 6 & 7 はそのまま */
    };
};
